<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br><br/>
        <h3>Create a new listing</h3>
        <div class="mb-3">
            <form method="POST" action="/listings" novalidate class="needs-validation" id="listingForm">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" id="title" placeholder="Add a catchy title" type="text" class="form-control" required />
                    <div class="invalid-feedback">Please provide a title.</div>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please provide a description.</div>
                </div>
                
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="listing[image]" id="image" placeholder="Enter image URL/link" type="text" class="form-control">
                    <div class="invalid-feedback">Please provide an image link.</div>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" id="price" placeholder="Enter price" type="number" class="form-control" required />
                        <div class="invalid-feedback">Please provide a price.</div>
                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" id="country" placeholder="Enter country" type="text" class="form-control" required />
                        <div class="invalid-feedback">Please provide a country.</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" id="location" placeholder="Enter location" type="text" class="form-control" required />
                    <div class="invalid-feedback">Please provide a location.</div>
                </div>
                
                <button class="btn btn-dark add-btn mt-3" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>